In [40]:
import pandas as pd
import numpy as np
import DM_Utils as du

In [41]:
dataset = pd.read_csv('BASE_UTF8.txt', delimiter = "\t")

In [42]:
dataset.head()

,CODIGO,CD_BANCO,VALOR,DIAS_PRIMEIRA_PARCELA,TIPO_CLIENTE,CD_SEXO,QTDE_DIVIDAS_ANTERIORES,CD_CARTEIRA_CLIENTE,IDADE,GRUPO_IDADE_CONTA,ALVO_1_0
0,1.0,B341,196.0,32.0,NOVO,F,7.0,G,49.0,ATÉ 1 ANO,0.0
1,10.0,B356,154.0,16.0,NEUTRO,F,16.0,G,32.0,ENTRE 2 E 4 ANOS,0.0
2,11.0,B341,1153.0,20.0,NOVO,M,0.0,G,29.0,ENTRE 4 E 9 ANOS,1.0
3,93.0,B399,31.0,31.0,NOVO,M,8.0,G,NaN,ENTRE 1 E 2 ANOS,0.0
4,94.0,B399,31.0,24.0,NOVO,M,8.0,G,NaN,ENTRE 1 E 2 ANOS,0.0

In [43]:
dataset['PRE_DIAS_P'] = [1. if x > 60 else x/60 for x in dataset['DIAS_PRIMEIRA_PARCELA']] 
dataset['PRE_IDADE'] = [18 if np.isnan(x) or x < 18 else x for x in dataset['IDADE']] 
dataset['PRE_IDADE'] = [1. if x > 76 else (x-18)/(76-18) for x in dataset['PRE_IDADE']] 
dataset['PRE_QTDE_DIVIDAS'] = [0.  if np.isnan(x) else x/16. for x in dataset['QTDE_DIVIDAS_ANTERIORES']]
dataset['PRE_SEXO_M'] = [1 if x=='M' else 0 for x in dataset['CD_SEXO']]
dataset['PRE_CD_B1'] = [1 if x== 'B1'else 0 for x in dataset['CD_BANCO']]
dataset['PRE_CD_B237'] = [1 if x=='B237' else 0 for x in dataset ['CD_BANCO']]
dataset['PRE_CD_B341'] = [1 if x=='B341' else 0 for x in dataset ['CD_BANCO']]
dataset['PRE_CD_B33'] = [1 if x=='B33' else 0 for x in dataset ['CD_BANCO']]
dataset['PRE_CD_B104'] = [1 if x=='B104' else 0 for x in dataset ['CD_BANCO']]
dataset['PRE_CD_B156'] = [1 if x=='B156' else 0 for x in dataset ['CD_BANCO']]
dataset['PRE_CD_B399'] = [1 if x=='B399' else 0 for x in dataset ['CD_BANCO']]
dataset['PRE_CD_B47'] = [1 if x=='B47' else 0 for x in dataset ['CD_BANCO']]
dataset['pre0-9'] = [1 if np.isnan(x) or x <= 9 else 0 for x in dataset['DIAS_PRIMEIRA_PARCELA']]
dataset['pre10-19'] = [1 if x>9 or x <=19  else 0 for x in dataset['DIAS_PRIMEIRA_PARCELA']]
dataset['pre20-29'] = [1 if x>19 or x <=29  else 0 for x in dataset['DIAS_PRIMEIRA_PARCELA']]
dataset['pre30-39'] = [1 if x>29 or x <=39  else 0 for x in dataset['DIAS_PRIMEIRA_PARCELA']]
dataset['pre40-49'] = [1 if x>39 or x <=49  else 0 for x in dataset['DIAS_PRIMEIRA_PARCELA']]
dataset['pre50-59'] = [1 if x>49 or x <=59  else 0 for x in dataset['DIAS_PRIMEIRA_PARCELA']]
dataset['pre60'] = [1 if x>59 else 0 for x in dataset['DIAS_PRIMEIRA_PARCELA']]
dataset['PRE_NOVO'] = [1 if x=='NOVO' else 0 for x in dataset['TIPO_CLIENTE']]
dataset['PRE_NEUTRO'] = [1 if x=='NEUTRO' else 0 for x in dataset['TIPO_CLIENTE']]
dataset['PRE_EXPERIENTE'] = [1 if x=='EXPERIENTE' else 0 for x in dataset['TIPO_CLIENTE']]
dataset['PRE_VIP'] = [1 if x=='VIP' else 0 for x in dataset['TIPO_CLIENTE']]
dataset['PRE_CDG'] = [1 if x=='G' else 0 for x in dataset['CD_CARTEIRA_CLIENTE']]
dataset['PRE_CDD'] = [1 if x=='D' else 0 for x in dataset['CD_CARTEIRA_CLIENTE']]
dataset['PRE_CDE'] = [1 if x=='E' else 0 for x in dataset['CD_CARTEIRA_CLIENTE']]
dataset['PRE_CDF'] = [1 if x=='F' else 0 for x in dataset['CD_CARTEIRA_CLIENTE']]
dataset['PRE_CDC'] = [1 if x=='C' else 0 for x in dataset['CD_CARTEIRA_CLIENTE']]
dataset['PRE_CDA'] = [1 if x=='A' else 0 for x in dataset['CD_CARTEIRA_CLIENTE']]
dataset['PRE_CDB'] = [1 if x=='B' else 0 for x in dataset['CD_CARTEIRA_CLIENTE']]
dataset['PRE_GRUPO_1'] = [1 if x=='ATÉ 1 ANO' else 0 for x in dataset['GRUPO_IDADE_CONTA']]
dataset['PRE_GRUPO_2'] = [1 if x=='ENTRE 1 E 2 ANOS' else 0 for x in dataset['GRUPO_IDADE_CONTA']]
dataset['PRE_GRUPO_3'] = [1 if x=='ENTRE 2 E 4 ANOS' else 0 for x in dataset['GRUPO_IDADE_CONTA']]
dataset['PRE_GRUPO_4'] = [1 if x=='ENTRE 4 E 9 ANOS' else 0 for x in dataset['GRUPO_IDADE_CONTA']]
dataset['PRE_GRUPO_5'] = [1 if x=='ENTRE 9 E 14 ANOS' else 0 for x in dataset['GRUPO_IDADE_CONTA']]
dataset['PRE_GRUPO_6'] = [1 if x=='MAIOR OU IGUAL A 15' else 0 for x in dataset['GRUPO_IDADE_CONTA']]
dataset['PREVALOR0'] = [1 if np.isnan(x) or x <= 300 else 0 for x in dataset['VALOR']]
dataset['PREVALOR300'] = [1 if x>300 or x <=600  else 0 for x in dataset['VALOR']]
dataset['PREVALOR600'] = [1 if x>600 or x <=900  else 0 for x in dataset['VALOR']]
dataset['PREVALOR900'] = [1 if x>900 or x <=1200  else 0 for x in dataset['VALOR']]
dataset['PREVALOR1200'] = [1 if x>1200 else 0 for x in dataset['VALOR']]

In [50]:
cols_in = [   'PRE_DIAS_P'
             ,'PRE_IDADE'
             ,'PRE_QTDE_DIVIDAS'
             ,'PRE_SEXO_M'
             ,'PRE_CD_B1'
             ,'PRE_CD_B237' 
             ,'PRE_CD_B341'
             ,'PRE_CD_B33'
             ,'PRE_CD_B104'
             ,'PRE_CD_B156'
             ,'PRE_CD_B399'
             ,'PRE_CD_B47'
             ,'pre0-9'
             ,'pre10-19'
             ,'pre20-29' 
             ,'pre30-39'
             ,'pre40-49'
             ,'pre50-59'
             ,'pre60'
             ,'PRE_NOVO'
             ,'PRE_NEUTRO'
             ,'PRE_EXPERIENTE'
             ,'PRE_VIP'
             ,'PRE_CDG'
             ,'PRE_CDD'
             ,'PRE_CDE'
             ,'PRE_CDF'
             ,'PRE_CDC'
             ,'PRE_CDA'
             ,'PRE_CDB'
             ,'PRE_GRUPO_1'
             ,'PRE_GRUPO_2'
             ,'PRE_GRUPO_3'
             ,'PRE_GRUPO_4'
             ,'PRE_GRUPO_5'
             ,'PRE_GRUPO_6'
             ,'PREVALOR0'
             ,'PREVALOR300'
             ,'PREVALOR600'
             ,'PREVALOR900'
             ,'PREVALOR1200']

In [51]:
y = dataset['ALVO_1_0']
X = dataset[cols_in]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 45)